<ion-view ng-controller="LoginController" title="Login">
    <ion-pane>
        <ion-content>
            <h1>HOUSES</h1>
            <button ng-click="googleLogin()" class="button button-full button-assertive">
                Sign in with google
            </button>
<!--            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="e-mail">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="password">
                </label>
            </div>
            <button ng-click="submit('123')" class="button button-full button-royal">
                Submit
            </button>
            <button ng-click="httpGet('http://localhost:8080')" class="button button-full button-assertive">
                GET
            </button> -->
        </ion-content>
    </ion-pane>
</ion-view>